@model User

<h2>Profil</h2>
<p>Namn: @Model.Name</p>
<p>Email: @Model.Email</p>
@* <p>Adress: @Model.Address</p> *@
<p>Profiltyp: @Model.ProfileType</p>

<!-- Lägg till annan information du vill visa här -->
